# Content Based Filtering

we want to Create a recommendation system using collaborative filtering

lets go and have some fun

### Table of contents

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ol>
        <li><a href="#ref1">Acquiring the Data</a></li>
        <li><a href="#ref2">Preprocessing</a></li>
        <li><a href="#ref3">Content-Based Filtering</a></li>
    </ol>
</div>
<br>

## Preprocessing
First, let's get all of the imports out of the way

In [77]:
import pandas as pd
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt

Now let's read each file into their Dataframes:

In [78]:
movie_df=pd.read_csv('movies.csv')
reating_df=pd.read_csv('ratings_sample.csv')

movie_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

Let's also remove the year from the **title** column by using pandas' replace function and store in a new **year** column.

In [79]:
movie_df['year'] = movie_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
movie_df['year'] = movie_df.year.str.extract('(\d\d\d\d)',expand=False)
movie_df['title'] = movie_df.title.str.replace('(\(\d\d\d\d\))','',regex=True)
  
# movie_df.head()
 
movie_df.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [80]:
moviesWithGenres_df = movie_df.copy()

for index, row in movie_df.iterrows():
    for genre in row['genres'].split("|"):
         moviesWithGenres_df.at[index, genre] = 1
moviesWithGenres_df = moviesWithGenres_df.fillna(0)
moviesWithGenres_df=moviesWithGenres_df.drop(['genres','year'],axis=1)
moviesWithGenres_df.head()

,movieId,title,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1,Toy Story,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

lets create a dataframe for my movir test

In [81]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

In [82]:
 
user_id=13
user_input=reating_df[reating_df['userId']==user_id]
 

user_input['movieId'].tolist()

inputId=moviesWithGenres_df[moviesWithGenres_df['movieId'].isin(user_input['movieId'].tolist())]
User_inputId=inputId.drop('movieId',axis=1)
User_inputId=User_inputId.drop('title',axis=1)

rathing_df=user_input['rating']

# rathing_df 

# User_inputId.transpose().dot(rathing_df)

# print(User_inputId*rathing_df)

np.array(rathing_df).reshape(1,152).shape
 
user_id=13
user_input=reating_df[reating_df['userId']==user_id]
 

user_input['movieId'].tolist()

inputId=moviesWithGenres_df[moviesWithGenres_df['movieId'].isin(user_input['movieId'].tolist())]
User_inputId=inputId.drop('movieId',axis=1)
User_inputId=User_inputId.drop('title',axis=1)

rathing_df=user_input['rating']
 

 
np.array(rathing_df).reshape(1,152).dot(np.array(User_inputId))

array([[165.,  36.,  51.,  78.,  70.,  36., 134., 183.,  51., 103.,  49.,
         25., 116.,   4.,   0.,  23.,  17.,   4.,   5.,   0.]])

In [83]:
 
user_id=13
user_input=reating_df[reating_df['userId']==user_id]
 

user_input['movieId'].tolist()

inputId=moviesWithGenres_df[moviesWithGenres_df['movieId'].isin(user_input['movieId'].tolist())]
User_inputId=inputId.drop('movieId',axis=1)
User_inputId=User_inputId.drop('title',axis=1)

rathing_df=user_input['rating'] 
np.array(rathing_df).reshape(1,152).shape
 
user_id=13
user_input=reating_df[reating_df['userId']==user_id]
 

user_input['movieId'].tolist()

inputId=moviesWithGenres_df[moviesWithGenres_df['movieId'].isin(user_input['movieId'].tolist())]
User_inputId=inputId.drop('movieId',axis=1)
User_inputId=User_inputId.drop('title',axis=1)

rathing_df=user_input['rating']
 

 
 
User_inputId=np.array(User_inputId)

 
userProfile = User_inputId.transpose().dot(rathing_df)
 
userProfile

array([165.,  36.,  51.,  78.,  70.,  36., 134., 183.,  51., 103.,  49.,
        25., 116.,   4.,   0.,  23.,  17.,   4.,   5.,   0.])

Let's start by extracting the genre table from the original dataframe:

In [84]:
 

genreTable = moviesWithGenres_df.set_index(moviesWithGenres_df['movieId'])

genreTable=genreTable.drop('movieId',axis=1)
genreTable=genreTable.drop('title',axis=1)



movie_rank=(np.array(genreTable*userProfile).sum(axis=1))/(np.array(userProfile).sum())

genreTable

data={'movieId':movie_df['movieId'],'rating':list(movie_rank)}

recommendationTable_df = pd.DataFrame(data, columns=['movieId', 'rating'])
recommendationTable_df

       movieId    rating
0            1  0.347826
1            2  0.248696
2            3  0.099130
3            4  0.215652
4            5  0.067826
...        ...       ...
34203   151697  0.089565
34204   151701  0.000000
34205   151703  0.116522
34206   151709  0.217391
34207   151711  0.000000

[34208 rows x 2 columns]

lets sort the array to find the best movie

In [85]:
recommendationTable_df=recommendationTable_df.sort_values(by='rating',ascending=False)
movieId_list=recommendationTable_df.head(20)['movieId']
movieId_list=list(movieId_list)

now lets recomend some movie to the user

In [86]:
movie_df=movie_df[movie_df['movieId'].isin(list(movieId_list))]
movie_df=movie_df.drop('movieId',axis=1).drop('genres',axis=1)
movie_df

                                                   title  year
4861                                     Stunt Man, The   1980
4923                                           Motorama   1991
6793                                      Interstate 60   2002
7763                            Day After Tomorrow, The   2004
9296   Revolutionary Girl Utena: Adolescence of Utena...  1999
9403                                Sound of Thunder, A   2005
10872                                             Pulse   2006
11410                                   Children of Men   2006
11497                                               She   1965
12464                                            Jumper   2008
13250                                 The Wrecking Crew   1968
14397                Aelita: The Queen of Mars (Aelita)   1924
16055                                            Rubber   2010
16504                             Kaho Naa... Pyaar Hai   2000
18347                                 Hunger Games, The   2012
24565                                    Whip Hand, The   1951
25218                    Dragonheart 2: A New Beginning   2000
26442                                      The 39 Steps   1959
31427                                    Humanity's End   2009
32313                                Under the Mountain   2009